@media only screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav{
        padding: 15px 3rem;
    }
    .nav-link{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .nav img{
        height: 50px;
    }
    .home-section h2{
        font-size: 5vw;
        white-space: nowrap;
    }
    .home-section p{
        font-size: 3vw;
    }

    .home-shop{
        display: flex;
        flex-direction: column;
    }
    .head h2{
        font-size: 6vw;
    }
    .head p{
        font-size: 3vw;
    }

    .location {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
.description p{
    line-height: 30px;
}

    .location img{
        margin-top:20px;
        width: 90vw;
    }
    .j{
        display: block;
    }
    .u{
        display: none;
    }
    .bts{
        margin-top: 10px;
    }
    .foot-panel{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self:center;
        justify-self: center;
    }
    .li{
        display: none;
    }
    .cont{
        display: none;
    }
    .i{
        white-space: nowrap;
        text-align: center;
    }
    .end{
        display: flex;
        text-align: center;
        white-space: nowrap;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}

@media only screen and (max-width:1150px) {
    body{
        overflow-x: hidden;
    }
    .nav{
        padding: 15px 3rem;
    }
    .nav-link{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .nav img{
        height: 50px;
    }
    .home-section h2{
        font-size: 5vw;
        white-space: nowrap;
    }
    .home-section p{
        font-size: 3vw;
    }

    .home-shop{
        display: flex;
        flex-direction: column;
    }
    .head h2{
        font-size: 6vw;
    }
    .head p{
        font-size: 3vw;
    }

    .location {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
.description p{
    line-height: 30px;
}

    .location img{
        margin-top:20px;
        width: 90vw;
    }
    .j{
        display: block;
    }
    .u{
        display: none;
    }
    .bts{
        margin-top: 10px;
    }
    .foot-panel{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self:center;
        justify-self: center;
    }
    .li{
        display: none;
    }
    .cont{
        display: none;
    }
    .i{
        white-space: nowrap;
        text-align: center;
    }
    .end{
        display: flex;
        text-align: center;
        white-space: nowrap;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}