* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
}


.nav {
    background-color: #000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5rem;
    ;
}

.nav img {
    height: 80px;
}

.nav-link {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 17px;
    gap: 25px;
    font-weight: 500;
    justify-content: center;
}

.nav-link a {
    text-decoration: none;
    color: white;
}

.b1 {
    border: solid 1px white;
    padding: 12px 16px;
    border-radius: 20px;
}

.b2 {
    padding: 12px 16px;
    border-radius: 20px;
    background-color: #ed1c24;
}

.b2 i {
    color: white;
}

.hamburger {
    display: none;
    color: white;
    font-size: 30px;
}

.home-section {
    color: white;
    text-align: center;
    padding: 70px 100px 160px 100px;
}

.home-section h2 {
    font-size: 40px;
}

.home-section p {
    font-size: 17px;
    margin-bottom: 40px;
    color: #ffffffB3;
}

.home-shop {
    display: flex;
    align-items: center;
    gap: 10px;
}

.home-section {
    background-color: #000000;
}


.img-lazy {
    background-color: white;
    padding: 0px 19px;
    margin-bottom: 10px;
}

.bt {
    padding: 10px 12px;
    border: solid 1px white;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    display: flex;
    align-self: center;
    justify-self: center;
}

.franchises-section {
    background-color: #0f0f0f;
    padding: 70px;
}

.head {
    text-align: center;
}

.franchises-section h2 {
    font-size: 40px;
    color: white;
}

.franchises-section p {
    font-size: 17px;
    margin-bottom: 40px;
    color: #ffffffB3;
}

.description small {
    font-size: 16px;
    color: #ed1c24;
    margin: 0px 0px 8px;
    letter-spacing: 5px;
}

.description h3 {
    font-size: 32px;
    color: white;
    margin-bottom: 24px;
}

.description p {
    color: #ffffffB3;
    line-height: 1px;
    font-size: 16px;
}

.bts {
    padding: 15px 12px;
    background-color: transparent;
    color: white;
    border: solid 1px white;
    border-radius: 20px;
    margin-top: 40px;
}

.bts i {
    color: #ed1c24;
}

.location {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.location {
    padding-top: 40px;
}

.franchises-sec {
    width: 100%;
    background-color: #0f0f0f;
    text-align: center;
}

.card-img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img {
    padding: 12px 0px;
}

.img p {
    color: #b7ac8b;
}

.s {
    color: #ed1c24 !important;
    text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 5px;
    margin-top: 20px;
}


.franchises-sec h2 {
    font-size: 40px;
    color: white;
}

.franchises-sec p {
    font-size: 17px;
    margin-bottom: 40px;
    color: #ffffffB3;
}

.foot-panel {
    width: 100%;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px 30px;
}

.foot-panel p {
    color: #ffffffB3;
    font-size: 15px;
}

.li {
    list-style: none;
    color: #ffffffB3;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

.i img {
    width: 200px;
}

.cont b {
    color: white;
}

.end {
    background-color: #000000;
    padding: 15px 100px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.j {
    display: none;
}